@model EntityLayer.Concrete.UsersMessage
@{
    ViewData["Title"] = "SendBoxMessageDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h3>Mesaj Detayları</h3>
<form class="form-group">

    @Html.HiddenFor(x => x.UserMessageID, new { @class = "form-control" })
    <br />
    @Html.Label("Gönderen Adı")
    @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control" })
    <br />
    @Html.Label("Gönderen Mail ")
    @Html.TextBoxFor(x => x.ReceiverMail, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x => x.Content, 5, 3, new { @class = "form-control" })
    <br />
    <a href="#" class="btn btn-danger">Sil</a>  <a href="#" class="btn btn-info">Okundu Olarak İşaretle</a>
    <a href="#" class="btn btn-primary">Taslaklara Kaydet</a>
</form>

